# =============================================
# DATABASE
# =============================================
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/svelterapp?schema=public"

# =============================================
# AUTH.JS CONFIGURATION
# =============================================
# Generate with: npx auth secret
AUTH_SECRET="your_auth_secret"
AUTH_TRUST_HOST=true

# =============================================
# APPLICATION
# =============================================
ENVIRONMENT="development"
PUBLIC_APP_NAME="Svelter App"
PUBLIC_APP_URL="http://localhost:5173"


# Resend Email Service
RESEND_API_KEY=
MAILER_ADDRESS="SvelterApp <noreply@svelterapp.com>"